name: Deploy

on:
  workflow_run:
    workflows: ["Node.js CI"]   
    types: 
      - completed

jobs:
  deploy:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: self-hosted 
    steps:
      - name: Checkout
        uses: actions/checkout@v4
        
      - name: Fetch latest changes
        run: git fetch
        
      - name: Pull latest changes
        run: git pull origin main

      - name: Copy API .env from persistent location
        run: |
          if [ -f /root/.env.api.prod ]; then
            cp /root/.env.api.prod apps/api/.env
          else
            exit 1
          fi

      - name: Copy Client .env from persistent location
        run: |
          if [ -f /root/.env.client.prod ]; then
            cp /root/.env.client.prod apps/client/.env
          else
            exit 1
          fi

      - name: Setup Node
        uses: actions/setup-node@v4
        with:
          node-version: 24

      - name: Install root deps
        run: npm install

      - name: Build
        run: npm run build

      - name: Deploy frontend
        run: cp -r /root/actions-runner/_work/technos-web-m2/technos-web-m2/apps/client/dist/* /var/www/html/

      - name: Install PM2
        run: |
          npm install -g pm2
          pm2 -v

      - name: Delelete all PM2 processes
        run: pm2 delete all || true
      
      - name: Restart API
        run: cd /root/actions-runner/_work/technos-web-m2/technos-web-m2/apps/api && pm2 start "node --env-file=.env dist/main.js"
